*{
    margin: 0;
    padding: 0;
}
body,html{
    background: WhiteSmoke;
    font-family:微软雅黑;
    height: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
.clearfix:after{
    content: "";
    clear: both;
    display: block;
}

select {
    border: solid 1px #000;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    padding-right: 14px;
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
}


select::-ms-expand { display: none; }



#head{
    height: 80px;
    background-color: black;
}
#head-top{
    height: 30px;
    float: top;
}

#head-bottom{
    height: 50px;
    /*border: 1px solid white;*/
    float: bottom;
}
#head-top ul{
    width: 350px;
    height: 30px;
    float: right;
    /*border: 1px solid white;*/
}
#head-top li{
    float: left;
    color: whitesmoke;
    margin-left: 5%;
}
#head-top ul a{
    font-size: 12px;
}

#head-top>ul>li a .icon {
    vertical-align: middle;
    margin: -5px 0 0 5px;
}
.icon-service {
    width: 17px;
    height: 15px;
    background-position: -26px -86px;
}
.icon-login {
    width: 13px;
    height: 16px;
    background-position: 0 -86px;
}
#head-logo{
    width: 100px;
    height: 50px;
    float: left;
    margin-left: 50px;
    margin-bottom: 10px;
    /*border: 1px solid white;*/
}
#head-logo img{
    width: 80px;
    height: 50px;
}
#head-bottom-right{
    width:87%;
    height: 50px;
    /*border: 1px solid red;*/
    float: right;
}
#head-select{
    width: 60%;
    height: 50px;
    /*border: 1px solid white;*/
    float:left;

}

#head-select ul{
    display: inline-block;
    float:left;
    margin-left: 20px;
}
#head-select li{
    font-weight: bold;
    font-size: 18px;
    display: inline;
    list-style: none;
    border:none;
}
#head-select li a{
    display: inline-block;
    width: 70px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}
#head-select li a.top-href:hover{
    background-color: white;
    color: darkgray;
}
.slice {
    display: inline-block;
    width: 1px;
    margin-top: 10px;
    height: 30px;
    background-color: darkgray;
    position: relative;
    top: 5px;
    margin-left: 10px;
    float: left;
}

/***************搜索******************/
#head-search{
    width: 300px;
    height: 50px;
    /*border: 1px solid white;*/
    float:right;
}
.form-search {
    position: absolute;
    width: 240px;
    top: 0;

}

.form-search {
    position: relative;
    width: 190px;
    height: 40px;
    padding: 9px 0 0;
    background: transparent;
    /*border: 1px solid red;*/
    float: left;

}
.form-search input{
    height: 30px;
    width: 190px;


}
#search-button button{
    height: 32px;
    width: 40px;
    margin-top: 10px;
    background-color: #0286cd;
    border: none;
    float:left;

}

#search-button{
    width: 100px;
    height: 50px;
    float: right;
    /*border: 1px solid red;*/
}

.icon-cart {
    width: 18px;
    height: 22px;
    background-position: -304px -190px;
}
.icon-cart {
    margin: 14px 0 0 19px;
}








#container{
    width: 62%;
    margin: 2% auto 0;
    margin-bottom: 15%;
}

#container .sidebar{
    width: 15%;
    float: left;
}
#container .sidebar .slide-nav li{
    text-align: center;
    padding: 6%;
    background: black;
    cursor: pointer;
}
#container .sidebar .slide-nav li:hover>a{
    color: silver;
}
#container .sidebar .slide-nav li a{
    color: white;
    font-size: 14px;
    font-family: 宋体;
}

#container .info-wrap{
    width: 80%;
    float: right;
}
#container .info-wrap>span{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}
#container .info-wrap .custprofile{
    margin: 1% auto 0 ;
}
#container .info-wrap .show_custprofile{
    width: 60px;
    margin: 10px auto;
}
#container .info-wrap .show_custprofile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
}

#container .info-wrap #imageSelect{
    margin-top:3%;
    font-size: 14px;
    padding:3px 20px 3px 3px;
}
#container .info-wrap em{
    font-size: 14px;
    margin-right: 5%;
}

#container .info-wrap .custprofile,
#container .info-wrap .custname,
#container .info-wrap .custphone,
#container .info-wrap .custage,
#container .info-wrap .custemail{
    padding-left: 35%;
    margin: 20px auto 20px;
}

#container .info-wrap .custprofile input,
#container .info-wrap .custname input,
#container .info-wrap .custphone input,
#container .info-wrap .custage input,
#container .info-wrap .custemail input{
    padding: 3px 5px;
    font-size: 14px;
    line-height: 18px;
}
#container .info-wrap input[type="submit"]{
    margin-left:48%;
    font-size: 14px;
    padding: 3px 5px;
    background: white;
    color: black;
    border-radius: 5px;
}


























#footer{
    width: 100%;
    height: 560px;
    border: 1px solid rebeccapurple;
    /*margin-bottom: 10px;*/
}

/*****************************底部 上方************************/
/* 底部联系我们*/
#footer .footer-top{
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;

}
.footer-top-container{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    /*  background-color: salmon;*/
}

#footer .footer-top  li{
    list-style: none;
    float: left;
    /*  margin-left: 30px;*/
    margin-right: 40px;


}
#footer .footer-top  li.contacted{
    font-size: 16px;
    line-height:80px ;
    /*  margin-right: 60px;*/
    padding: 0;
}

#footer .footer-top  li a{
    color: white;
    text-decoration: none;
}
#footer .footer-top  li a:hover{
    color: gray;
}
#footer .footer-top  li p{
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    position: relative;
    top: 15px;
    text-decoration: none;
}
#footer .footer-top  li p:hover{
    color: gray;
}

#footer .footer-top  li p.remarks{
    font-size: 12px;
    color: #888;
    padding: 0 0 0 30px;

}
#footer .footer-top  .contacted-us-time{
    font-size: 14px;
    font-weight: bold;
    line-height:20px ;
    position: relative;
    top: 30px;
}
#footer .footer-top  .order-tracking{
    font-size: 16px;
    line-height:80px ;
    padding: 0;
}

.footer-top-container .icon{
    display: inline-block;
    background-image: url("../../resources/img/adidas.png");
}

.footer-top-container .contact-us-service{ /*联系我们的icon*/
    width: 17px;
    height: 17px;
    background-position: -400px -83px;
}

.footer-top-container .contact-us-tel{  /*电话的icon*/
    width: 16px;
    height: 16px;
    background-position: -74px -86px;
}

.footer-top-container .contact-us-email{ /*邮箱的icon*/
    width: 16px;
    height: 16px;
    background-position: -96px -84px;
}


/************************* 底部中间 *****************************/
#footer .footer-cont{
    width: 100%;
    height: 420px;

}
.column-container{
    width:70%;
    height:300px;
    margin-left:300px;
    /*border: 1px solid rebeccapurple;*/
}
.list {
    width: 150px;
    margin-right: 30px;
    margin-top: 10px;
    float: left;
    /*border: 1px solid darkmagenta;*/
}
.footer-cont .list span{
    font-weight: bold;
}

.footer-cont .list ul li{
    list-style: none;
    float: left;
}
.footer-cont .list ul li a{
    display:inline-block;
    width: 140px;
    height: 35px;
    line-height: 40px;
    text-decoration: none;
    list-style: none;
    color: gray;
}
.footer-cont .list .list-icon{
    display:inline-block;
    width: 40px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    list-style: none;
    color: gray;
}
.footer-cont .list ul li a:hover{
    color: black;
}

.column-container .footer-share li{
    list-style: none;
}
.column-container .footer-share {
    list-style: none;
    float: left;
}
.icon{
    display: inline-block;
    background-image: url("../../resources/img/adidas.png");
}
.icon-WeiBo{
    width: 30px;
    height: 24px;
    background-position: -130px -154px;
}
.icon-WeiXin{
    width: 30px;
    height: 24px;
    background-position: -170px -154px;
}

.footer-cont .footer-Payment-method{ //支付方式
width:70%;
    height:100px;
    margin-top: 10px;
    margin-left:300px;
    /*border: 1px solid rebeccapurple;*/
}
.footer-cont .footer-Payment-method ul{
    height: 50px;
}
.footer-cont .footer-Payment-method ul li{
    width: 120px;
    height: 50px;
    float: left;
    list-style: none;
}
.footer-cont .footer-Payment-method ul .title{
    font-size: 14px;
    width: 240px;
}
.footer-cont .footer-Payment-method ul .title1{
    font-size: 14px;
    width: 170px;
}

/************************* 底部 bottom *****************************/
#footer .footer-cont-bottom{
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
}
.footer-cont-bottom-left{
    width: 50%;
    height: 40px;
    float:left;
    background-color: black;
}
.bottom-right{
    width: 50%;
    height: 40px;
    float: right;
    background-color:black;
}
.footer-cont-bottom-left ul li{
    float:left;
    list-style: none;
}
.footer-cont-bottom .footer-cont-bottom-left .bottom-li a{
    color: white;
    width: 80px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    margin-left:30px;
    margin-right: 30px;
    text-decoration: none;
    display: inline-block;
}

.footer-cont-bottom .footer-cont-bottom-left #bottom-li-one{
    margin-left: 240px;
}
.footer-cont-bottom .footer-cont-bottom-left .bottom-li span{
    color: white;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    margin-right: 30px;
    display: inline-block;
}
.footer-cont-bottom-right ul li{
    float:left;
    list-style: none;
    font-size: 14px;
    margin-right: 5px;
}
.footer-cont-bottom-right ul li span{
    color: white;
    font-size: 14px;
    line-height: 40px;
    margin-right: 20px;
    display: inline-block;
}
.footer-cont-bottom .footer-cont-bottom-left .bottom-li a:hover{
    color: gray;
}
.icon{
    display: inline-block;
    background-image: url("../../resources/img/adidas.png");
}
.icon-china{
    width: 14px;
    height: 12px;
    background-position: -49px -190px;
}
.icon-ebs1{
    width: 16px;
    height: 16px;
    background-position: -23px -190px;
}
.icon-ebs2{
    width: 14px;
    height: 16px;
    background-position: 0px -190px;
}







